#**LISTS**

- ordered, iterable, mutable, can contain multiple data types

Create an empty list - two ways

In [ ]:
empty_list = []
empty_list = list()

Create and examine a list

In [ ]:
planets = ['earth', 'venus', 'mars']
planets[0]                                                           # prints element 0 ('earth')

'earth'

subscript operator for indexing: []

In [ ]:
len(planets)                                                         # returns the length (3)

3

Modify the list (does not return the list)

functions of a data object --- methods, accessible by the dot operator

APPEND:
1. one element to the end
2. multiple elements to the end

In [ ]:
planets.append('jupiter')
planets.extend(['saturn', 'neptune'])

INSERT an element at index 0 (shifts everything right)

In [ ]:
planets.insert(0, 'maggie')

REMOVE:
1. search for first instance and remove it
2. remove element 0 and return it
3. remove element 0 (does not return it)

In [ ]:
planets.remove('mars')
planets.pop(0)
del planets[0]

REPLACE an element

In [ ]:
planets[0] = 'moon'

Concatenate lists (slower than 'extend' method)

In [ ]:
neighbors = planets + ['ned', 'rod', 'todd']

Find elements in a list

In [ ]:
planets.count('earth')                                               # counts the number of instances
planets.index('saturn')                                              # returns index of first instance

1

List slicing : [start:end:step]

In [ ]:
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']
weekdays[0]                                                          # element 0
weekdays[0:3]                                                        # elements 0, 1, 2
weekdays[:3]                                                         # elements 0, 1, 2
weekdays[3:]                                                         # elements 3, 4
weekdays[-1]                                                         # last element (element 4)
weekdays[::2]                                                        # every 2nd element (0, 2, 4)
weekdays[::-1]                                                       # backwards (4, 3, 2, 1, 0)

['fri', 'thurs', 'wed', 'tues', 'mon']

alternative method for returning the list backwards

In [ ]:
list(reversed(weekdays))

['fri', 'thurs', 'wed', 'tues', 'mon']

SORITNG:
1. Sort a list in place (modifies but does not return the list)
2. sort in reverse
3. sort by a key

In [ ]:
planets.sort()
planets.sort(reverse=True)
planets.sort(key=len)

Return a sorted list (does not modify the original list)

In [ ]:
sorted(planets)
sorted(planets, reverse=True)
sorted(planets, key=len)

['moon', 'saturn', 'neptune', 'jupiter']

Insert into an already sorted list, and keep it sorted

In [ ]:
num = [10, 20, 40, 50]
from bisect import insort
insort(num, 30)

create a second reference to the same list

In [ ]:
same_num = num
same_num[0] = 0                                                       # modifies both 'num' and 'same_num'

Copy a list (two ways)

In [ ]:
new_num = num[:]
new_num = list(num)

Examine objects

In [ ]:
num is same_num                                                      # returns True (checks whether they are the same object)
num is new_num                                                       # returns False
num == same_num                                                      # returns True (checks whether they have the same contents)
num == new_num                                                       # returns True

True

#**TUPLES**

- ordered, iterable, immutable, can contain multiple data types like lists, but they don't change size

Create a tuple

In [ ]:
digits = (0, 1, 'two')                                               # create a tuple directly
digits = tuple([0, 1, 'two'])                                        # create a tuple from a list
zero = (0,)                                                          # trailing comma is required to indicate it's a tuple

Examine a tuple

In [ ]:
digits[2]                                                            # returns 'two'
len(digits)                                                          # returns 3
digits.count(0)                                                      # counts the number of instances of that value (1)
digits.index(1)                                                      # returns the index of the first instance of that value (1)

1

elements of a tuple cannot be modified

In [ ]:
digits[2] = 2                                                        # throws an error

TypeError: 'tuple' object does not support item assignment

concatenate tuples

In [ ]:
digits = digits + (3, 4)

create a single tuple with elements repeated (also works with lists)

In [ ]:
(3, 4) * 2                                                          # returns (3, 4, 3, 4)

(3, 4, 3, 4)

sort a list of tuples

In [ ]:
tens = [(20, 60), (10, 40), (20, 30)]
sorted(tens)                                                        # sorts by first element in tuple, then second element
                                                                    #   returns [(10, 40), (20, 30), (20, 60)]

[(10, 40), (20, 30), (20, 60)]

tuple unpacking

In [ ]:
kumar = ('male', 20, 121011000)                                      # create a tuple
(sex, age, regno) = kumar                                            # assign three values at once

# **STRINGS**
- ordered -- iterable, immutable

Create a string

In [ ]:
s = str(42)                                                           # convert another data type into a string
s = 'I like Python'

Examine a string

In [ ]:
s[0]                                                                  # returns 'I'
len(s)                                                                # returns 13

String slicing is like list slicing

In [ ]:
s[:6]                                                                 # returns 'I like'
s[7:]                                                                 # returns 'Python'
s[-1]                                                                 # returns 'n'

Basic string methods (does not modify the original string)

In [ ]:
s.lower()                                                             # returns 'i like python'
s.upper()                                                             # returns 'I LIKE PYTHON'
s.startswith('I')                                                     # returns True
s.endswith('Python')                                                  # returns True
s.isdigit()                                                           # returns False (returns True if every character in the string is a digit)
s.find('like')                                                        # returns index of first occurrence (2), but doesn't support regex
s.find('hate')                                                        # returns -1 since not found
s.replace('like', 'love')                                             # replaces all instances of 'like' with 'love'

split a string into a list of substrings separated by a delimiter

In [ ]:
s.split(' ')                                                          # returns ['I', 'like', 'Python']
s.split()                                                             # equivalent (since space is the default delimiter)
s2 = 'a, an, the'
s2.split(',')                                                         # returns ['a', ' an', ' the']

join a list of strings into one string using a delimiter

In [ ]:
languages = ['tamil', 'malayalam', 'hindi', 'telugu', 'kannada']
' '.join(languages)                                                   # returns 'tamil malayalam hindi telugu kannada'

'tamil malayalam hindi telugu kannada'

concatenate strings

In [ ]:
s3 = 'The meaning of life is'
s4 = '42'
s3 + ' ' + s4                                                         # returns 'The meaning of life is 42'

'The meaning of life is 42'

Remove whitespace from start and end of a string

In [ ]:
s5 = '  I like programming  '
s5.strip()          # returns 'I like programming'

'I like programming'

String substitutions: all of these return 'raining cats and dogs'

In [ ]:
'raining %s and %s' % ('cats', 'dogs')                                # old way
'raining {} and {}'.format('cats', 'dogs')                            # new way
'raining {arg1} and {arg2}'.format(arg1='cats', arg2='dogs')          # named arguments

'raining cats and dogs'

string formatting

more examples: https://mkaz.blog/code/python-string-format-cookbook/

In [ ]:
'pi is {:.2f}'.format(3.14159)                                        # returns 'pi is 3.14'

'pi is 3.14'

Normal strings versus Raw strings

In [ ]:
print('first line\nsecond line')                                      # normal strings allow for escaped characters
print(r'first line\nfirst line')                                      # raw strings treat backslashes as literal characters

first line
second line
first line\nfirst line

#**DICTIONARIES**
- unordered, iterable, mutable, can contain multiple data types
- made of key-value pairs
- keys must be unique, and can be strings, numbers, or tuples
- values can be any type

create an empty dictionary (two ways)

In [17]:
empty_dict = {}
empty_dict = dict()

create a dictionary (two ways)

In [18]:
family = {'dad':'earth', 'mom':'venus', 'size':4}
family = dict(dad='earth', mom='venus', size=4)

convert a list of tuples into a dictionary

In [20]:
list_of_tuples = [('dad', 'earth'), ('mom', 'venus'), ('size', 6)]
family = dict(list_of_tuples)

Examine a dictionary

In [27]:
family['dad']                                                         # returns 'earth'
len(family)                                                           # returns 3
'mom' in family                                                       # returns True
'venus' in family                                                     # returns False (only checks keys)

False

returns a list (Python 2) or an iterable view (Python 3)

In [28]:
family.keys()                                                        # keys: ['dad', 'mom', 'size']
family.values()                                                      # values: ['earth', 'venus', 6]
family.items()                                                       # key-value pairs: [('dad', 'earth'), ('mom', 'venus'), ('size', 6)]

dict_items([('dad', 'earth'), ('mom', 'venus'), ('size', 6)])

Modify a dictionary (does not return the dictionary)

In [29]:
family['cat'] = 'neptune'                                            # add a new entry
family['cat'] = 'pluto'                                              # edit an existing entry
del family['cat']                                                    # delete an entry
family['kids'] = ['mercury', 'moon']                                 # dictionary value can be a list
family.pop('dad')                                                    # remove an entry and return the value ('earth')
family.update({'baby':'asteroid', 'grandpa':'jupiter'})              # add multiple entries

access values more safely with 'get'

In [30]:
family['mom']                                                        # returns 'venus'
family.get('mom')                                                    # equivalent
family['grandma']                                                    # throws an error since the key does not exist
family.get('grandma')                                                # returns None instead
family.get('grandma', 'not found')                                   # returns 'not found' (the default)

KeyError: 'grandma'

access a list element within a dictionary

In [31]:
family['kids'][0]                                                    # returns 'mars'
family['kids'].remove('moon')                                        # removes 'lisa'

string substitution using a dictionary

In [32]:
'youngest child is %s' % family['baby']                              # returns 'youngest child is maggie'

'youngest child is asteroid'

to find the number of 'values' mapped with a given key:

In [33]:
len(family['kids'])

1

# **SETS**
- unordered, iterable, mutable, can contain multiple data types
- made of unique elements (strings, numbers, or tuples)
- like dictionaries, but with keys only (no values)

create an empty set

In [21]:
empty_set = set()

create a set

In [22]:
languages = {'python', 'r', 'java'}                                 # create a set directly
snakes = set(['cobra', 'viper', 'python'])                          # create a set from a list

examine a set

In [23]:
len(languages)                                                     # returns 3
'python' in languages                                              # returns True

True

set operations

In [24]:
languages & snakes                                                # returns intersection: {'python'}
languages | snakes                                                # returns union: {'cobra', 'r', 'java', 'viper', 'python'}
languages - snakes                                                # returns set difference: {'r', 'java'}
snakes - languages                                                # returns set difference: {'cobra', 'viper'}

{'cobra', 'viper'}

modify a set (does not return the set)

In [25]:
languages.add('sql')                                              # add a new element
languages.add('r')                                                # try to add an existing element (ignored, no error)
languages.remove('java')                                          # remove an element
languages.remove('c')                                             # try to remove a non-existing element (throws an error)
languages.discard('c')                                            # remove an element if present, but ignored otherwise
languages.pop()                                                   # remove and return an arbitrary element
languages.clear()                                                 # remove all elements
languages.update(['go', 'spark'])                                 # add multiple elements (can also pass a set)

KeyError: 'c'

get a sorted list of unique elements from a list

In [26]:
sorted(set([9, 0, 2, 1, 0]))                                      # returns [0, 1, 2, 9]

[0, 1, 2, 9]